<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>

    <add key="path for logs" value="C:\Creatures\Log"/>
    <add key="mutation probability" value="0.01"/>
    
    <add key="food distibution strategy" value = "as water from corners"/>

    <!--<add key="food distibution strategy" value = "random rain" />
    <add key="rain thikness" value = "0.1" />-->

    <!--<add key="food distibution strategy" value = "fill entire field"/>-->

    <add key="food distribution frequency" value ="10000" />

  </appSettings>
  
</configuration>