<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    
    <add key="matrix size" value="100"/>
    
    <!--<add key="food distibution strategy" value = "as water from corners"/>-->
    
    <add key="food distibution strategy" value = "random rain" />
    <add key="rain thikness" value = "0.5" />
    
    <!--<add key="food distibution strategy" value = "fill entire field"/>-->
    
      
    <add key="food distribution frequency" value ="5" />


  </appSettings>
</configuration>